*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f3f6;
}
@font-face {
    font-family: italic;
    src: url(fonts/Inter-Italic.woff2);
}
@font-face {
    font-family: regular;
    src: url(fonts/Inter-Regular.woff2);
}
@font-face {
    font-family: semibold;
    src: url(fonts/Inter-SemiBold.woff2);
}
@font-face {
    font-family: semibold-italic;
    src: url(fonts/Inter-SemiBoldItalic.woff2);
}

:root{
    --italic: italic;
    --regular: regular;
    --semibold: semibold;
    --semibold-italic: semibold-italic;

}

.header{
    height: 56px;
    background-color: #2874f0;
    width: 100%;
    display: flex;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}
.hl{
    min-width: 124px;
    height: 100%;
}
.header-main-content{
    max-width: 1248px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.flipkart-logo{
    min-width: 137px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}
.flipkart-logo a{
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-family: var(--italic);
}
.flipkart-logo span{
    color: #ffe500;
    font-size: 11px;
    font-family: var(--italic);
    font-weight: 500;
}
.flip-logo{
    width: 75px;
}
.flip-plus-logo{
    width: 10px;
}

.flipkart-search-bar {
   width: 580px;
   min-width: 304px;
   margin: 0 20px 0 12px;
}
.flipkart-search-bar-main{
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.search-bar{
    width: 100%;
    height: 36px;
    padding: 0 16px;
    font-family: var(--regular);
    border-radius: 2px;
    border: none;
}
.search-button{
    border: 1px solid white;
    background-color: white;
    height: 34px;
    width: 44px;
    padding: 4px 12px 0px 8px;
    border-radius: 2px;
    position: absolute;
    right: 0;
}
.login-button{
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 112px;
    margin: 0 20px 0 17px;
}
.login-btn{
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
    background-color: white;
    color: #2874f0;
    border-radius: 2px;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--semibold);

}
.header-seller-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    max-width: 150px;
}
.header-seller-section span{
    font-size: 16px;
    font-family: var(--semibold);
    font-weight: 500;
    color: #fff;
    text-wrap: nowrap;
    line-height: 20px;
    letter-spacing: .1px;
}
.header-more-section{
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 150px;
    margin: 0 30px 0 11px;
}
.header-more-section div{
    display: flex;
    gap: 7px;
}
.header-more-section div div:nth-child(1){
    font-size: 16px;
    color: white;
    font-weight: 500;
    font-family: var(--semibold);
}
.header-more-section div img{
    transform: rotate(270deg);
    margin-top: 4px;
}

.header-cart-section{
    height: 100%;
    margin: 0 20px;
    display: flex;
    align-items: center;
    max-width: 150px;
}

.header-cart-main-section{
    display: flex;
    gap: 8px;
}
.header-cart-main-section img{
    width: 16px;
}
.header-cart-main-section span{
    font-size: 16px;
    font-weight: 500;
    color: white;
    font-family: var(--semibold);
}

.second-header{
    height: 40px;
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
    background-color: white;
}
.second-header-main{
    width: 1248px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.second-header-main span{
    font-family: var(--semibold);
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    line-height: 1.4px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.second-header-main a{
    font-size: 13px;
    text-decoration: none;
    font-family: var(--semibold);
    font-weight: 500;
    color: #000000;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-header-main img{
    transform: rotate(270deg);
    width: 4.7px;
    height: 8px;
    margin-left: 8px;
    margin-top: 2px;
}

.content-section{
    padding: 8px;
    width: 100%;
    max-width: 1680px;
    margin: 0 100px;
  
}
.main-content-section{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
}
.filter-section{
    width: 270px;
    height: 100%;
    background-color: white;
}

.filters-heading{
    font-size: 18px;
    padding: 16px 16px 12px;
    font-family: var(--semibold);
    border-bottom: 1px solid #f0f0f0;
}

.categories-section{
    padding: 20px 16px 16px 16px;
    border-bottom: 1px solid #f0f0f0;
}
.categories-section div:nth-child(1){
    font-size: 11px;
    font-family: var(--semibold);
    margin-bottom: 5px;
}
.categories-section div:nth-child(2){
    padding: 5px 0 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.categories-section div:nth-child(2) span{
    font-size: 13px;
    font-family: var(--regular);
    color: #878787;
    margin-top: 2px;
}
.categories-section div:nth-child(2) img{
    width: 10px;
    height: 10px;
}
.categories-section div:nth-child(3){
    font-size: 13px;
    font-family: var(--semibold);
    padding: 10px 15px 5px;
}


.brand-section{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;

}

.brand-section div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0 16px 0;
}
.brand-section div:nth-child(1) span{
    font-size: 13px;
    font-family: var(--semibold);
}
.brand-section div:nth-child(1) img{
    width: 10px;
    height: 10px;
    transform: rotate(-270deg);
}
.brand-section div:nth-of-type(2){
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}
.brand-check {
    width: 14px;
    height: 14px;
    border: 1.4px solid #c2c2c2;
    background:transparent;
    border-radius: 1.5px;
    margin-top: 2px;
}
.brand-section div:nth-of-type(2) label{
    font-size: 13px;
    font-family: var(--regular);
    color: #212121;
    margin-left: 11px;
}



.ram-section{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;

}

.ram-section div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 16px 0;
}
.ram-section div:nth-child(1) span{
    font-size: 13px;
    font-family: var(--semibold);
}
.ram-section div:nth-child(1) img{
    width: 10px;
    height: 10px;
    transform: rotate(-270deg);
}
.ram-section div:nth-of-type(2){
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}
.ram-check {
    width: 14px;
    height: 14px;
    border: 1.4px solid #c2c2c2;
    background:transparent;
    border-radius: 1.5px;
    margin-top: 2px;
}
.ram-section div:nth-of-type(2) label{
    font-size: 13px;
    font-family: var(--regular);
    color: #212121;
    margin-left: 11px;
}

.other-features{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    
}
.other-features div:nth-child(1){
    font-size: 13px;
    font-weight: 500;
    color: #212121;
    font-family: var(--semibold);
}
.other-features img{
    width: 6px;
    height: 11px;
    transform: rotate(270deg);
}
.price-bar-section{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}
.price-bar-section div:nth-child(1){
    font-size: 13px;
    font-weight: 500;
    font-family: var(--semibold);
    color: #212121;
}
.price-bar-section div:nth-child(2){
    display: flex;
    flex-direction: column;
}
.range-bar-top{
    height: 25px;
    width: 94%;
    margin: 0 auto;
    background: #E0E0E0;
    margin-top: 25px;
}
.price-range-bar{
    width: 100%;
    height: 5px;
}
.price-bar-dots{
    display: flex;
    flex: 1;
}
.price-bar-dot{
    text-align: left;
    color: #c2c2c2;
    width: 47px;
}
.price-bar-dots div:nth-last-child(1){
    width: 0px;
}

.price-select-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.price-select-option select{
    padding: 5px;
    flex: 2;
    border: 1px solid #e0e0e0;
    background: transparent;
    font-family: var(--regular);
}
.price-select-option div:nth-of-type(1){
    flex: 1;
    text-align: center;
    font-size: 13px;
    font-family: var(--regular);
    color: #878787;
}
.discount{
    border: none;
}
.discount img{
    transform: rotate(-270deg);
}
.discount-percentage{
    padding: 6px 16px;
    display: flex;
    align-items: center;
}
.discount-check {
    width: 14px;
    height: 14px;
    border: 1.4px solid #c2c2c2;
    background:transparent;
    border-radius: 1.5px;
    margin-top: 2px;
}
.discount-percentage label{
    font-size: 13px;
    font-family: var(--regular);
    color: #212121;
    font-weight: 400;
    margin-left: 11px;
}

.product-section{
    flex: 1;
    background-color: white;
}

.product-section-main  {
    width: 100%;
    height: 100%;
}

.product{
    width: 100%;
    padding: 24px 0 30px 24px;
    display: flex;
    justify-content: space-between;
}
.product-image{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
}
.product-main-img{
    padding: 0 20px;
    position: relative;
}
.product-main-img svg{
    width: 16px;
    height: 16px;
    position: absolute;
    right: -8px;
}
.product-image div{
    /* margin-top: 16px; */
    display: flex;
    gap: 11px;
}
.product-main-img img{
    height: 100%;
    width: 100%;
}
.add-to-compare-main{
    margin-top: 16px;
}
.add-to-compare-main label{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    font-family: var(--regular);
}
.product-details-section{
    display: flex;
}
.product-details{
    padding-left: 25px;
}

.product-name{
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    font-family: var(--semibold);
    color: #212121;
}
.product-ratings-reviews{
    margin-top: 6px;
    display: flex;
    gap: 8px;
}
.product-rating{
    padding: 2px 5px;
    border-radius: 3px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-rating span{
    font-size: 12px;
    font-weight: 500;
    font-family: var(--semibold);
    color: #fff;
}
.product-rating img{
    width: 11px;
    margin:0px 0px 2px 2px;
}

.product-review span{
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
    font-family: var(--semibold);
    color: #878787;
}

.product-features{
    margin-top: 13px;
    padding-left: 13px;
}

.product-features ul{
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    font-family: var(--regular);
    color: #000000;
    list-style: none;
}
.product-features ul li{
    position: relative;
}
.product-features ul li::before{
    content: "•";
    color: rgb(194, 194, 194);
    position: absolute;
    left: -13px;
}

.product-price-section{
    width: 34.66%;
    padding-left: 25px;
}
.product-price{
    display: flex;
    gap: 10px;
    align-items: center;
}
.product-price span{
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    font-family: var(--semibold);
    color: #000000;
}
.product-price img{
    width: 70px;
    height: 20px;
}

.product-discount{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 8px;
}
.product-discount span{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    font-family: var(--regular);
}
.product-discount span:nth-child(1){
    text-decoration: line-through;
    color: #878787;
}
.product-discount span:nth-child(2){
    color: green;
    font-family: var(--semibold);
    font-size: 13px;
}

.products-left{
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    font-family: var(--semibold);
    color: rgb(199, 0, 85);
    margin-top: 8px;
}
.product-exchange-offer{
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    color: #000000;
    font-family: var(--regular);
    margin-top: 8px;
}